<template>
   <div id="backdrop">
      <div id="modal">
         <div id="m-header" class="row justify-content-center">
            <slot name="m-header"></slot>
         </div>
         <div id="m-content">
            <slot name="m-content"></slot>
         </div>
         <div id="m-footer" class="row justify-content-center">
            <slot name="m-footer"></slot>
         </div>
      </div>
   </div>
</template>

<script>
export default {
   name: 'Modal',
}
</script>

<style scoped>
   #backdrop {
      top: 0;
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 9999;
   }

   #modal {
      width: 400px;
      padding: 15px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      border: 1px solid #646262;
      border-radius: 10px;
      box-shadow: 5px 10px 8px #7d7d7d;
   }

   #m-header { border-bottom: 1px solid #646262; }

   #m-content { margin: 10px 0px; }
</style>