.hidden { display: none; }

.spacer {
   width: 20px;
   display: inline-block;
}

.btn { min-width: 90px; }

table { font-family: "Siemreap"; }

thead th {
   background-color: #3f94c5!important;
   color: #fff !important;
   text-align: center;
}

th[scope="row"] { background-color: #3f94c5; }

td:hover { border: 1px double #696969; }

.table td,
.table th { padding: 5px !important; }

.colHeader { width: 8%; }

.col1 { width: 12%; }

/* Meat */
.col2 { width: 25%; }

/* Vegetables */
.col3 { width: 10%; }

/* Rice */
.col4 { width: 10%; }

/* Eggs */
.col5 { width: 10%; }

/* Oil */
.col6 { width: 10%; }

/* Sugar */
.col7 { width: 15%; }
