<template> 
   <Modal v-show="showModal">
      <template v-slot:m-header>
         <h2>{{ header }}</h2>
      </template>

      <template v-slot:m-content>
         Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
      </template>

      <template v-slot:m-footer>
         <button class="btn btn-primary col-3" @click="submit">Accept</button>
         <span class="col-1"></span>
         <button class="btn btn-primary col-3" @click="closeModal">Cancel</button>
      </template>
   </Modal>
</template>

<script>
toastr.options.closeButton = true;
toastr.options.closeHtml = '<button><i class="fas fa-window-close"></i></button>';

import Modal from './components/modal.vue'

export default {
   name: 'App',
   components: { Modal },
   data() {
      return {
         header: 'My first vue App',
         showModal: false,
      }
   },
   methods: {
      openModal() { this.showModal = true },
      closeModal() { this.showModal = false },
      submit() {
         this.showModal = false
         toastr.success('<h6>Data saved!</h6>')
      }
   }
}
</script>
